doctype html
html
  head
    meta(charset='utf-8')
    // WHAT?! FUCK!!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description" content="FUCK!!")
    meta(name="what" content="tehfuck")
    title FUCK!!!
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:900' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='fuck.css')
    link(rel="icon", type="image/png", href="fucks/fuck32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="fucks/fuck16.png", sizes="16x16")
  body.fuck
    .fuckfuck
      .fuckfuckfuck FUCK
    script(src='fuck.js')
