$damninblack: #000;
$damninwhite: #fff;

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background: $damninblack;
  font-family: 'Work Sans', sans-serif;
}
.damn {
  display: table;
}

.damndamn {
  display: table-cell;
  vertical-align: middle;
}

.damndamndamn {
  color: $damninwhite;
  text-align: center;
}
